:root {
    --primary-color: #000000;
    --first-color: #061532;
    --second-color: #4A5B6B;
    --third-color: #95A3A6;
    --forth-color: #ccd0cf;
}

h1, h2 {
    font-family: nexa;
    color: var(--forth-color);
}

h1 {
    position: absolute;
    top: 5px;
    left: -370px;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    position: relative;
    right: -220px;
    top: -30px;
    font-size: larger;
}

body {
    background-image: url(../refind/assets/bg-login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

* {
    margin: 1;
    padding: 50;
    box-sizing: border-box;
}

body {
    font-family: nexa;
    background-color: var(--second-color);
    color: var(--forth-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding-left: 50px;
}

.container {
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
}

.login-box {
    background: rgba(250, 249, 249, 0.05);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;
    z-index: 2;
    left: 0;
    bottom: -50px;
}

.login-box form {
    top: -60px;
    right: 650px;
}

.login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--second-color);
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: var(--first-color);
    --ms-transform: rotate(70deg);
    transform: rotate(70deg);
}

.tagline {
    position: absolute;
    top: -60px;
    right: 20px;
    font-size: 20px;
    max-width: 450px;
}
